/* VARIABLES */

:root {
  
  /* Breakpoint widths */
  --tablet-breakpoint: 600;
  
}

/* LAYOUT */

* {
  box-sizing: border-box;
}

header, main, footer {
  width: 100%;
  padding: 8px;
}

header {
  background: #aaa;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

  .site-title {
    flex-grow: 1;
  }
  
  .landing-page-topnav {
    flex-grow: 0;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  
    .landing-page-topnav button {
      margin: 4px;
    }
    
body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}
    
main {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

  .intro-section {
    width: 100%;
    background: #eee;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  
    .strapline, .signup-login-area {
      width: 100%;
      padding: 8px;
    }
    
    .strapline {
      background: #aaa;
    }
    
    .signup-login-area {
      background: #ccc;
    }
    
    .signup-login-area .mobile {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
    
    .signup-login-area .tablet {
      display: none;
    }
    
      .signup-login-row {
        width: 100%;
        padding: 8px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
      }
      
    /* Signup area responsive design */
    @media screen and (min-width: 800px) {
     
      .strapline {
        width: calc(90% - 400px);
        max-width: 1000px;
      }
      
      .signup-login-area {
        width: 400px;
        background: #888;
      }
      
      .signup-login-area .mobile {
        display: none;
      }
      
      .signup-login-area .tablet {
        display: flex;
        flex-flow: column nowrap;
      }
      
        ul.signup-login-toggle {
          display: flex;
          flex-flow: row nowrap;
        }
        
          .signup-login-toggle li {
            flex-grow: 1;
            text-align: center;
            padding: 8px;
          }
          
          .signup-login-toggle li:first-child {
            background: #666;
          }
          
          .signup-login-toggle li:last-child {
            background: #aaa;
          }
          
        .signup-login-area form {
          padding: 8px;
        }
        
          .signup-login-area .fieldset-flex {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
          }
          
          .signup-login-area legend, .signup-login-area label {
            display: flex;
            flex-flow: column nowrap;
            padding: 4px;
          }
          
          .signup-login-area legend {
            align-items: center;
          }
          
          .signup-login-area label {
            width: 100%;
            justify-content: space-between;
            align-items: center;
          }
          
          .signup-login-area input {
            margin: 0px 4px;
            width: 100%;
          }
          
          .signup-login-area input[type="submit"] {
            margin-top: 8px;
          }
          
    }
      
    .learn-more-row {
      padding: 16px;
    }

  .about-section {
    background: #ddd;
    padding: 8px;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  
    .about-boxes {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
    
      .about-box {
        width: 100%;
        max-width: 320px;
        height: 320px;
        padding: 8px;
        margin: 4px;
        background: #888;
      }

footer {
  background: #aaa;
  width: 100%;
  height: 30px;
  padding: 8px;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}


/* TYPOGRAPHY */

html {
  font-size: 22px;
  font-family: 'Roboto', 'San Francisco', sans-serif;
}

h1 {
  font-size: 34px;
  text-align: center;
}

h2 {
  font-size: 30px;
  padding-bottom: 4px;
  text-align: center;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 22px;
  line-height: 1.25;
}

/* COMMON COMPONENTS */

button {
  width: 130px; 
  padding: 4px;
  font-size: 22px;
}

input {
  font-size: 22px;
}