/* LAYOUT */

* {
  box-sizing: border-box;
}

header, main, footer {
  width: 100%;
  padding: 8px;
}

header {
  background: #aaa;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

  .site-title {
    flex-grow: 1;
  }
  
  .landing-page-topnav {
    flex-grow: 0;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  
    .landing-page-topnav button {
      margin: 4px;
    }
    
main {
  min-height: 100vh;
  
  display: flex;
  flex-flow: column nowrap;
}

  .intro-section {
    background: #eee;
  }
  
    .strapline, .signup-login-area {
      width: 100%;
      padding: 8px;
    }
  
    .strapline {
      background: #aaa;
    }
    
    .signup-login-area {
      background: #ccc;
    }
    
    .signup-login-area .mobile {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
    
      .signup-login-row {
        width: 100%;
        padding: 8px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
      }
      
    .learn-more-row {
      padding: 16px;
    }

  .about-section {
    background: #ddd;
  }

footer {
  background: #aaa;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}


/* TYPOGRAPHY */

html {
  font-size: 14px;
  font-family: 'Roboto', 'San Francisco', sans-serif;
}

h1 {
  font-size: 28px;
  text-align: center;
}

h2 {
  font-size: 24px;
  padding-bottom: 4px;
  text-align: center;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 14px;
  line-height: 1.25;
}

/* COMMON COMPONENTS */

button {
  width: 90px;
  padding: 4px;
}