
* {
  box-sizing: border-box;
}

header, main {
  width: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  font-family: 'Roboto', 'San Francisco', sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.2;
}

/* ===============
   = SITE HEADER =
   =============== */

header {
  background: #aaa;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 4;
}

h1 {
  font-size: 34px;
  padding: 8px;
}

  .header-nav {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .header-nav button {
    border: none;
    background: none;
  }

/* =================
   = VIEW CONTROLS =
   ================= */

.view-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  
  position: fixed;
  top: 50px;
  flex-grow: 0;

}

.network-view-button, .reader-view-button {
  padding: 16px;
  border-radius: 100%;
  border: 1px solid black;
  background: #ccc;
  margin: 8px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 4px;
}

/* ================
   = MAIN CONTENT =
   ================ */

main {
  height: calc(100vh);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.moment {
  padding: 8px;
  overflow: auto;
}

/* ==================
   = VIEW RENDERING =
   ================== */
   
.reader-view, .network-view {
  max-width: 400px;
  margin: 0px auto;
  padding: 0px 8px;
  padding-top: 150px;
  border-style: solid;
  border-color: #ccc;
  border-width: 0px 1px;
  overflow: auto;
}

/* DEV hack: Turn off network view on mobile */

.network-view {
  display: none;
  background: #eee;
}

/* Responsive handling */

@media screen and (min-width: 800px) {
  
  .reader-view {
    margin-left: 0;
    margin-right: 0;
    padding-top: 50px;
    flex-grow: 0;
  }
  
  .network-view {
    max-width: 100%;
    display: inherit;
    margin: 0px;
    height: 100%;
    flex-grow: 1;
    padding-top: 50px;
    border: none;
  }
  
  .view-controls {
    display: none;
  }
  
}



/* ===================
   = MOMENT CONTROLS =
   =================== */
   
.controls-active {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.controls-active .moment-text {
  padding: 4px;
  border: 1px solid #ccc;
}

.moment-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

  .create-moment-button, .next-moment-button, .switch-chain-button {
    padding: 8px;
    border: 1px solid black;
    border-radius: 100%;
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  }
  
/* ======================
   = CREATE MOMENT FORM =
   ====================== */

.create-moment-active {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

  .create-moment-title {
    text-align: center;
    font-weight: bold;
    padding: 4px;
  }
  
  .create-moment-active .moment-text {
    border: 1px solid #ccc;
    padding: 4px;
  }
  
  .create-moment-form {
    width: 100%;
  }
  
  .create-moment-form .fieldset-contents {
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
    justify-content: space-evenly;
  }
  
  .create-moment-form textarea {
    width: 100%;
  }
  
  .create-moment-form button {
    background: none;
    padding: 8px;
    border: 1px solid black;
    border-radius: 100%;
    margin-top: 8px;
  }
  
